{% extends "base.html.twig" %}


{% block main %}
    <h1>List of players</h1>

    {# ToDo: Add some text here! #}

    <div>
        <a href="{{ path("player_add_form") }}" class="btn btn-primary">Add a player</a>
    </div>

    <div>
        {{ form_start(form, { attr: { class: 'form-inline'} } ) }}
        {{ form_widget(form.search, { attr : { placeholder : 'Search' }}) }}
        <button type="submit" class="btn btn-default">Search</button>
        {{ form_errors(form.search) }}
        {{ form_end(form) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% if players %}
            {% for i in players %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td><a href="{{ path("player_details", {'i_playerid': i.id}) }}" class="btn btn-primary">More</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No players available</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}